.text{
    font-size: 1.5vh;
    background-color: transparent;
}

.diagram-container {
    position: relative;
    height: 652px;
    display: block;
  }
  
  .diagram {
    position: absolute;
    display: block;
    height: 652px;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .flow{
    display: flex;
    position: absolute;
    margin-top: 29.4vh;
    margin-left: 72.4vh;
    flex-direction: column;
    background-color: transparent;
  }

  .p1{
    display: flex;
    position: absolute;
    margin-top: 16.3vh;
    margin-left: 16.7vh;
    flex-direction: column;
    background-color: transparent;
  }

  .p2{
    display: flex;
    position: absolute;
    margin-top: 16.3vh;
    margin-left: 35.4vh;
    flex-direction: column;
    background-color: transparent;
  }

  .p3{
    display: flex;
    position: absolute;
    margin-top: 16.3vh;
    margin-left: 68vh;
    flex-direction: column;
    background-color: transparent;
  }

  .p4{
    display: flex;
    position: absolute;
    margin-top: 47.3vh;
    margin-left: 68vh;
    flex-direction: column;
    background-color: transparent;
  }

  .p5{
    display: flex;
    position: absolute;
    margin-top: 65vh;
    margin-left: 83vh;
    flex-direction: column;
    background-color: transparent;
  }

  .p6{
    display: flex;
    position: absolute;
    margin-top: 51.6vh;
    margin-left: 4.5vh;
    flex-direction: column;
    background-color: transparent;
  }

  .v1 {
    position: absolute;
    width: 4.2vh;
    top: 20.2vh;
    left: 46.3vh;
  }

  .v2 {
    position: absolute;
    width: 4.2vh;
    top: 24.2vh;
    left: 52vh;
  }

  .v3 {
    position: absolute;
    width: 4.2vh;
    top: 28.2vh;
    left: 58.5vh;
  }

  .v4 {
      position: absolute;
      width: 4.2vh;
      top: 20.2vh;
      left: 72.7vh;
  }

  .v5 {
    position: absolute;
    width: 4.2vh;
    top: 15.2vh;
    left: 79vh;
  }

  .v6 {
    position: absolute;
    width: 4.2vh;
    top: 24.2vh;
    left: 79vh;
  }

  .v7 {
    position: absolute;
    width: 4.2vh;
    top: 37.2vh;
    left: 79vh;
  }

  .v8 {
    position: absolute;
    width: 4.2vh;
    top: 42.2vh;
    left: 72.7vh;
  }

  .v9 {
    position: absolute;
    width: 4.2vh;
    top: 47.2vh;
    left: 79vh;
  }

  .v10 {
    position: absolute;
    width: 4.2vh;
    top: 55.1vh;
    left: 52.4vh;
  }

  .v11 {
    position: absolute;
    width: 4.2vh;
    top: 68.7vh;
    left: 61.4vh
  }

  .v12 {
    position: absolute;
    width: 4.2vh;
    top: 64.1vh;
    left: 67.4vh;
  }

  .v13 {
    position: absolute;
    width: 4.2vh;
    top: 60.2vh;
    left: 72.7vh;
  }

  .v14 {
    position: absolute;
    width: 4.2vh;
    top: 20.2vh;
    left: 21.4vh;
  }

  .v15 {
    position: absolute;
    width: 4.2vh;
    top: 24.2vh;
    left: 33.8vh;
  }

  .v16 {
    position: absolute;
    width: 4.2vh;
    top: 46.2vh;
    left: 21.4vh;
  }

  .v17 {
    position: absolute;
    width: 4.2vh;
    top: 47.2vh;
    left: 33.8vh;
  }

  .v18 {
    position: absolute;
    width: 4.2vh;
    top: 50.7vh;
    left: 39.5vh;
  }

  .v19 {
    position: absolute;
    width: 4.2vh;
    top: 55.2vh;
    left: 33.8vh;
  }

  .v20 {
    position: absolute;
    width: 4.2vh;
    top: 55.2vh;
    left: 27.5vh;
  }
  
  .v21 {
    position: absolute;
    width: 4.2vh;
    top: 55.2vh;
    left: 9.1vh;
  }

  .v22 {
    position: absolute;
    width: 4.2vh;
    top: 55.2vh;
    left: 21.4vh;
  }

  .v23 {
    position: absolute;
    width: 4.2vh;
    top: 64.2vh;
    left: 15.2vh;  }

  .scroll1{
    position: absolute;
    width: 4.2vh;
    top: 55.1vh;
    left: 60.4vh;
  }

  .scroll2{
    position: absolute;
    width: 4.2vh;
    top: 64vh;
    left: 9.1vh;
  }

  .turbo1{
    position: absolute;
    width: 4.2vh;
    top: 28.6vh;
    left: 46.3vh;
  }

  .turbo2{
    position: absolute;
    width: 4.2vh;
    top: 64vh;
    left: 21.6vh;
  }

  .coml{
    position: absolute;
    width: 4.2vh;
    top: 20vh;
    left: 85.1vh;
  }

  .pulsetube{
    position: absolute;
    width: 4.2vh;
    top: 9.2vh;
    left: 5.5vh;
  }

  .hs-still{
    position: absolute;
    width: 4.2vh;
    top: 17.2vh;
    left: 5.5vh;
  }

  .hs-mc{
    position: absolute;
    width: 4.2vh;
    top: 25.2vh;
    left: 5.5vh;
  }

  .ext{
    position: absolute;
    width: 4.2vh;
    top: 33.2vh;
    left: 5.5vh;
  }

  .compressor{
    position: absolute;
    width: 4.2vh;
    top: 41.2vh;
    left: 5.5vh;
  }